$background-color: #f2f3f6;
$alternative-background-color:#fefffe;
$text-color: #65686c;
$heading-color: #000000;
$border-color: #d9dbde;
$highlight-color: #0766ff;
$shadow-color: #dfe1e4;
$white: #ffffff;