form {
    label, input {
        display: block;
        margin: 1rem 0;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 24px;
        border-color: $border-color;
        padding: 0.5rem;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        box-shadow: 0 0 10px $shadow-color;
    }

    input[type="submit"] {
        font-size: 18px;
        padding: 0.5rem 1rem;
        border-color: $border-color;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        box-shadow: 0 0 10px $shadow-color;
        background-color: $highlight-color;
        color: $white;
    }
}