.game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        p {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 24px;
        }

        span {
            font-size: 36px;
        }
    }

    &__points {
        @keyframes pointsGrow {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.25);
            }
            100% {
                transform: scale(1);
            }
        }

        span {
            margin-right: 6px;
        }

        &--grow {
            span {
                animation: pointsGrow 0.2s 1;
            }
        }
    }

    &__lives {
        @keyframes livesShrink {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.5);
            }
            100% {
                transform: scale(1);
            }
        }

        span {
            margin-left: 6px;
        }

        &--shrink {
            span {
                animation: livesShrink 0.2s 1;
            }
        }
    }

    &__word, &__guess {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    &__word {
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: end;

        p {
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 10px;
            margin-bottom: 0;
        }
    }

    &__guess {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;

        div {
            display: flex;
            background-color: $white;
            border-radius: 10px;
            font-size: 36px;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            text-transform: uppercase;
            box-shadow: 0 0 10px $shadow-color;
            position: relative;
        }

        @keyframes cursor {
            0% {  opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }

        .cursor:after {
            display: block;
            content: "";
            width: 60%;
            height: 2px;
            background-color: #65686c;
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 24px;
            animation: cursor 0.75s infinite;
        }

        &--wobble {
            @keyframes wobble {
                0% {
                    transform:translateX(0);
                }

                25% {
                    transform:translateX(5px);
                }

                75% {
                    transform:translateX(-5px);
                }

                100% {
                    transform: translateX(0);
                }
            }

            div {
                animation: wobble 0.2s 2;
            }
        }
    }

    &__keyboard {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 1rem 0;
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: $border-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &__row {
            display: flex;
            justify-content: center;
            margin: 0.5rem 0;

            button {
                text-transform: uppercase;
                font-size: 20px;
                background-color: $white;
                border: none;
                border-radius: 6px;
                width: 30px;
                height: 40px;
                margin: 0 3px;
                padding: 0;
                box-shadow: 0 0 10px $shadow-color;
                color: $text-color;

                .material-symbols-outlined {
                    display: block;
                    margin-left: -2px;
                }
            }
        }
    }
}
