.game {
    &__stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;

        p {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 24px;
        }

        span {
            font-size: 36px;
        }
    }

    &__points span {
        margin-right: 6px;
    }

    &__lives span {
        margin-left: 6px;
    }

    &__word, &__guess {
        display: flex;
        justify-content: center;
    }

    &__keyboard {
        &__row {
            display: flex;
            justify-content: center;

            button {
                margin: 1em;
            }
        }
    }
}