html, body {
    background: $background-color;
    color: $text-color;
}

a, a:link, a:visited, a:focus, a:active {
    color: $text-color;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: $heading-color;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
.content,
footer {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $alternative-background-color;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $border-color;
    padding: 1rem;

    h1 {
        font-size: 20px;
        margin: 4px 0;
    }

    .material-symbols-outlined {
        color: $heading-color;
        font-size: 28px;
    }
}

footer {
    background: $alternative-background-color;
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            margin-bottom: 0;
        }
    }

    a, a:link, a:visited, a:focus, a:active {
        color: $heading-color;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        padding: 1rem 0;
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: $border-color;

        &.active {
            color: $highlight-color;
            border-color: $highlight-color;
        }
    }

    .material-symbols-outlined {
        margin-bottom: 0.25rem;
    }
}

.content {
    padding: 1rem;

    &:has(.game) {
        padding: 0;
    }

    p, ul, li {
        font-size: 16px;
        line-height: 24px;
    }
}