#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
.content,
footer {
    padding-left: 1rem;
    padding-right: 1rem;
}
