#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
.content,
footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
